body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    color: #f4f4f4;
    margin: auto;
    padding: 20px;
    width: 55%;
}

h1 {
    color: #2986cc;
    font-size: 75px;
    text-align: center;
}
